<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Chat Application</title>
</head>

<body>
    <div class="container">
        <h2>Group Name:{{group_name}}</h2>
        <h3>Lets Chat</h3>
        <textarea id="chat-log" cols="100" rows="20">
            
            {% for chat in chats %}
                {{chat.content}}
            {% endfor %}
                
        </textarea>
        <input id="chat-message-input" type="text" size="100"></input><br>
        <input id="chat-message-submit" type="button" value="Send"> {{group_name|json_script:"group-name"}}
    </div>
    <script>
        var groupName = JSON.parse(document.getElementById('group-name').textContent)
        console.log("GroupName .....", groupName)
        var ws = new WebSocket(
            "ws://" +
            window.location.host +
            "/ws/ajwc/" +
            groupName +
            "/    "
        )
        ws.onopen = function() {
            console.log("Websocket Connected....");
        };
        ws.onmessage = function(event) {

            console.log('Message Received..', event)
            const data = JSON.parse(event.data)
            console.log(data)
            document.querySelector("#chat-log").value += (data.message + "\n")
        }

        ws.onclose = function(event) {
            console.error("Websocket disconnected...");
        };


        document.getElementById('chat-message-submit').onclick =
            function(event) {
                const messageInputDown = document.getElementById('chat-message-input')
                const message = messageInputDown.value
                ws.send(JSON.stringify({
                    'msg': message
                }))
                messageInputDown.value = ''

            }
    </script>
</body>

</html>